/**
 * Theme Name: weblogs
 * Theme URI: http://demo.weblizar.com/weblogs-theme/
 * Author: weblizar
 * Author URI: https://weblizar.com
 * Description: weblogs is a minimal, clean, easy to use and modern WordPress blog theme. It is fully responsive and supports multiple post formats, wide blocks, and post layout with left and right sidebar.
 * Version: 1.0
 * License: GNU General Public License v3.0 or later
 * License URI: https://www.gnu.org/licenses/gpl-3.0.html
 * Text Domain: weblogs
 * Tags: blog, left-sidebar, right-sidebar, full-width-template, post-formats, block-styles, wide-blocks

 	weblogs WordPress Theme has been created by Weblizar( http://weblizar.com/), 2019.
	weblogs WordPress Theme is released under the terms of GNU GPL
 */

/* Basic Style */
.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
/* Basic Style */